* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

header {
    position: sticky;
    top: 0;
}

nav {
    padding: 10px;
    background-color: #FEFCFF;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px -6px #222;
    font-family: sans-serif;
}

ul {
    display: flex;
}

ul li {
    padding: 10px;
    cursor: pointer;
}

#main-search {
    width: 18rem;
    border: 2px solid #72A0C1;
    border-radius: 20px;
}

#search {
    width: 15rem;
    height: 2rem;
    padding-left: 10px;
    border: none;
    outline: none;
    border-radius: 20px;
}

#search-button {
    height: 2rem;
    width: 2rem;
    background-color: transparent;
    border: none;
    cursor: pointer;
}

.menu-bar {
    display: none;
}

section {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 30px;
}

section h1 {
    width: 50vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 2rem;
    padding-bottom: 30px;
}

section img {
    width: 50vw;
}

h2 {
    width: 50vw;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 30px 0;
    font-size: 1.5rem;
}

p {
    width: 50vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.2rem;
}

#content1 {
    padding-bottom: 30px;
}

footer {
    background-color: #111;
    color: #fff;
    padding: 30px;
}

footer h1 {
    font-family: sans-serif;
    padding-bottom: 30px;
}

footer p {
    font-size: 1rem;
}

footer i {
    padding-top: 30px;
    padding-left: 30px;
    padding-right: 30px;
}


@media screen and (max-width: 770px) {
    ul {
        background-color: #72A0C1;
        position: absolute;
        right: 0.8rem;
        top: 4rem;
        flex-direction: column;
        border-radius: 10px;
        align-items: center;
        justify-content: center;
        padding: 10px;
        display: none;
        transition: right 0.2s ease;
    }

    ul.active {
        display: flex;
        right: 0.8rem;
    }

    section img {
        width: 70vw;
    }

    section h1 {
        width: 70vw;
    }

    .menu-bar {
        display: block;
        font-size: 1.5rem;
        cursor: pointer;
    }

    h2 {
        width: 70vw;
    }

    p {
        width: 70vw;
    }
}

@media screen and (max-width: 400px) {
    #main-search {
        width: 15rem;
    }

    #search {
        width: 12rem;
    }
}